All Shovels

<% @shovels.each do |shovel| %>
  <p><%= my_link_to_show(shovel, :id, :name).html_safe %></p>
<% end %>

<tr class="activeRow">
  <td><%= my_number_format(@value1) %></td>
  <td><%= my_number_format(@value2) %></td>
</tr>


<%= dropdown(:shovels, Shovel.all, :id, :name) %>
